body {
    background-image: url("BG5.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.score-container {
    display: flex;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.score-container h2 {
    font-size: 30px;
}
.score-container p {
    text-align: center;
    font-size: 25px;
}

.intro {
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
    padding: 20px;
  }
  
  .intro h3 {
    font-size: 20px;
    color: white;
  }
  .intro button{
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    background: rgb(135, 221, 255);
    border-radius: 3px;
    cursor: pointer;
  }
  
  .match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
  }
  
div.fadeOut {
    opacity: 0;
    pointer-events: none;
  }
  
  div.fadeIn {
    opacity: 1;
    pointer-events: all;
  }

.arm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.human-arm img {
    height: 270px;
}

.robot-arm img {
    height: 290px;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 140px;
    align-items: center;
}

#option {
    width: 200px;
}

.choices button {
    cursor: pointer;
    border-radius: 250px;
    background: none;
    border-color: aqua;

}



.textResult {
    height: 50px;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    border-radius: 10px;
    background-color: #b0ffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid #001b1d00;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.close {
    color: #00161b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalText {
    font-size: 25px;
    font-weight: bold;
}
