body {
    background-image: url("BG3.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.score-container {
    display: flex;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(0, 255, 106);
    color: white;
}

.score-container h2 {
    font-size: 30px;
}
.score-container p {
    text-align: center;
    font-size: 25px;
}

.intro {
    color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
    padding: 20px;
  }
  
  .intro h3 {
    font-size: 20px;
    color: white;
  }
  .intro button{
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    background: rgb(135, 221, 255);
    border-radius: 3px;
    cursor: pointer;
  }
  
  .match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
  }
  
div.fadeOut {
    opacity: 0;
    pointer-events: none;
  }
  
  div.fadeIn {
    opacity: 1;
    pointer-events: all;
  }

.arm-container {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(183, 244, 255);
    justify-content: space-between;
}

#human-arm {
    border: 1px solid rgb(229, 255, 0);
}

#robot-arm {
    border: 1px solid rgb(229, 255, 0);
}

.human-arm img {
    height: 270px;
}

.robot-arm img {
    height: 290px;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 140px;
    align-items: center;
    border: 1px solid brown;
}

#option {
    width: 200px;
}

.choices button {
    cursor: pointer;
    border-radius: 250px;
    background: none;
    border-color: aqua;

}



.textResult {
    height: 50px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}




